{erl_opts, [debug_info]}.

{deps, []}.

{edoc_opts, [
    {overview, "src/overview.edoc"},
    {doclet, edocmermaid_doclet},
    {layout, edocmermaid_layout},
    % specificy the mermaid URL
    {mermaid_url, "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"},
    {def, [
        {version, "0.1.0"},
        {years, "2020"}
    ]}
]}.
